<div class='page-header'>
  <div class='row-fluid'>
    <h1>
      <%= @users_listing.title %>
      <div class='pull-right'>
        <%= link_to(
          @users_listing.new_user_button_name,
          new_user_path,
          class: 'btn btn-primary',
        ) %>
      </div>
    </h1>
  </div>
</div>

