<table class='table table-striped'>
  <thead>
    <tr>
      <th>#</th>
      <th><%= @users_listing.user_email_colum_name %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users_listing.each do |user_row| %>
      <tr>
        <td><%= user_row.row_number %></td>
        <td><%= user_row.user_email %></td>
        <td>
          <%= link_to(
            user_row.edit_user_button_name,
            edit_user_path(user_row),
            class: 'btn btn-default btn-xs',
          ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
