<div class='page-header'>
  <div class='row-fluid'>
    <h1>
      <%= t(User.model_name.human.pluralize.titleize) %>
      <div class='pull-right'>
        <%= link_to(
          t(:'users.new.title', default: :'helpers.titles.new', model: User.model_name.human.downcase),
          new_user_path,
          class: 'btn btn-primary',
        ) %>
      </div>
    </h1>
  </div>
</div>

