<div id='drawn-ticket' data-lottery-id='<%= lottery_id %>'>
  <% if local_assigns[:ticket] %>
    <%= render('results/ticket', ticket: ticket) %>
    <%= render('results/prize', amount: ticket.prize_amount) if ticket.prize_amount %>
  <% else %>
    <%= render(partial: 'results/no_drawn_tickets_message') %>
  <% end %>
</div>
