<div id='drawn-ticket' data-lottery-id='<%= results_index.lottery_id %>'>
  <% if results_index.ticket_to_display? %>
    <%= render('results/ticket', ticket: results_index.ticket) %>
  <% else %>
    <%= render(
      'results/no_drawn_tickets_message',
      message: results_index.no_ticket_message,
    ) %>
  <% end %>
</div>
