<%= render(partial: 'index_header') %>
<div id='drawn-ticket' data-lottery-id='<%= @lottery.id %>'>
  <div class='row-fluid'><%= t('results.index.no_drawn_tickets') %></div>
</div>
<%= render(partial: 'fullscreen' ) %>
