<div
  class='row-fluid pull-right'
  data-fullscreen
  data-go-fullscreen-message='<%= t('go_fullscreen') %>'
  data-return-from-fullscreen-message='<%= t('return_from_fullscreen') %>'
>
  <%= link_to(t('go_fullscreen'), '#') %>
</div>
