<div class='row'>
  <div class='col-sm-2 sidebar'>
    <%= render 'lotteries/sidebar' %>
  </div>
  <div class='col-sm-10 col-sm-offset-2 main'>
    <%= render main_header, **main_header_locals %>
    <%= render main_partial, **main_partial_locals %>
  </div>
</div>
