<div class='page-header'>
  <h1><%= t(
    '.title',
    default: Table.model_name.human.pluralize.titleize,
  ) %></h1>
  <div class='row'>
    <div class='pull-right'>
      <%= link_to(
        t(
          'tables.new.title',
          default: [:'helpers.titles.new', 'New %{model}'],
          model: Table.model_name.human.downcase,
        ),
        new_lottery_table_path(@lottery),
        class: 'btn btn-primary',
      ) %>
    </div>
  </div>
</div>
